body {
}

div#wrap {
}

header {
}

div#logo {
}

div#logo img {
}

div#usuario {
    float: left;
    margin-left: 0px;
    width: 192px;
    height: 140px;
}

div#usuario img {
    width: 70px;
    float: left;
    margin: 15px 0px 0px 10px;
}

div#carrinho {
    width: 228px;
    float: left;
    margin-top: 0px;
    padding-top: 37px;
    display: flex;
}

div#carrinho img {
    width: 70px;
}

div#wrap {
    background: orange;
    width: 100%;
}

header {
    width: 1020px;
    height: 140px;
    margin: auto;
    background: gainsboro;
}

div#logo {
    width: 180px;
    float: left;
}

div#logo img {
    width: inherit;
}

div#search {
    float: left;
    width: 420px;
    height: 140px;
}

div#search input {
    width: 76%;
    height: 23px;
    margin: 55px 0px 0px 9px;
    border-radius: 12px;
    outline: none;
}

div#search button {
    width: 18%;
    height: 30px;
    border-radius: 11px;
    outline: none;
}

div#links {
    display: grid;
    margin-top: 51px;
}
